.site-header {
  position: absolute;
  top: 33px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 30px;
  justify-content: space-between;
  max-width: 1474px;
  width: 100%;
  padding-right: 33px;
  padding-left: 30px;
  box-sizing: border-box;
  left: calc(50%);
  transform: translateX(-50%);

  @media (max-width: $desktop) {
    max-width: none;
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (max-width: $tablet) {
    padding-left: 17px;
    padding-right: 15px;
  }
}


.site-header__main-actions {
  // margin-left: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 38px;

  @media (max-width: $desktop) {
    column-gap: 0;
  }
}

.site-header__company-contacts {
  justify-content: end;
}

.site-header__button {
  font-size: 14px;
  min-width: 180px;
  min-height: 45px;

  @media (max-width: $desktop) {
    display: none;
  }
}
