$white: #FFFFFF;
$gallery: #EBEBEB;
$dodger-blue: #00B2FF;
$dove-gray: #666666;
$gable-green: #1B2D37;
$alabaster: #FAFAFA;

$button-color: $white;
$button--transparent-color: $dodger-blue;
$button--transparent-border-color: $dodger-blue;
$button--light-color: $white;
$button--light-border-color: $white;
$button-bgc: $dodger-blue;
$company-contacts-link-color: $white;
$landing-banner-title-color: $white;
$landing-banner-subtitle-color: $white;
$landing-banner-subtitle-before-bgc: $white;
$landing-features-list__item-border-color: $gallery;
$landing-features-list__item-border-left-color: $dodger-blue;
$landing-features-list__item-bgc-hover: $dodger-blue;
$landing-features-list__title-color: $dodger-blue;
$landing-features-list__title-color-hover: $white;
$landing-features-list__description-color: $dove-gray;
$landing-features-list__description-color-hover: $white;
$about-company__title-color: $dove-gray;
$about-company__paragraph-color: $dove-gray;
$landing-company-services-bgc: $gable-green;
$landing-company-services__title-color: $white;
$landing-company-services-name-color: $white;
$company-feedback-bgc: $dodger-blue;
$feedback-form-color: $white;
$input__input-bgc: rgba(255, 255, 255, 0.1);
$input__input-color: $white;
$textarea__textarea-bgc: rgba(255, 255, 255, 0.1);
$textarea__textarea-color: $white;
$checkbox-color: rgba(255, 255, 255, 0.8);
$site-footer-bgc: $alabaster;
$site-footer__title-color: $gable-green;
$site-footer__link-color: $gable-green;
$site-footer__address-color: $gable-green;
$site-footer__copyright-color: $gable-green;
$site-footer__absolute-footer-before-bgc: rgba($gable-green, 0.2);
$site-footer__absolute-link-color: rgba($gable-green, 0.5);
